@import "~src/app/_variables";

:host {
    display: block;
    font-size: smaller;
    margin-bottom: 0px;
    cursor: pointer;

    * {
        cursor: pointer;
    }
}

.contact-btn {
    border-color: #01e675;
    display: block;
    color: white;
    color: #01e675;
}

label,
p {
    display: block;
    margin-top: 8px;
}

p {
    font-size: smaller;
    color: gray;
}

.name {
    font-weight: bold;
    // text-align: center;
    margin: 16px auto;
    font-size: large;
}

.expand-toggle {
    display: block;
    margin: 16px auto -32px auto !important;
    width: 32px;
    height: 32px;
    background: white;
    line-height: 32px;
    text-align: center;
    border-radius: 100%;
}

// , .fa-female + span

.info {
    label {
        display: flex;
    }

    i {
        display: block;
        color: gray;
    }

    .name {
        i {
            display: inline-block;
        }
    }

    i + span {
        margin-right: 4px;
    }

    i,
    span {
        line-height: 32px;
    }
}

.fa-female {
    color: #e26a89 !important;
}

.fa-male {
    color: #0071cc !important;
}

.icon-wrapper {
    color: lightgray;

    &:before {
        content: "(";
    }

    &:after {
        content: ")";
    }
}


.favorite-icon{
    color: $secondary-color;
    transform: translate(0px, 5px);
    display: none;
}



mat-card{
    padding-right: 11px;
    border-right: 5px solid transparent;

    .favorite-icon{
        display: none;
    }
}

mat-card.is-favorite{
    border-right: 5px solid $secondary-color;

    .favorite-icon{
        display: inline-block;
    }
}
