@import "~src/app/_variables";

:host {
    display: block;
    padding: 16px;
}

#volunteers-list {
}

.join-btn {
    display: block;
    margin-bottom: 32px;
}

section {
    margin-bottom: 32px;
}

#filters {
    .selected {
        background: $primary-color;
        color: white;
    }

    .filter-toggle {
        margin: 4px;
    }
}
