<header>

    <h3>
        مبادرة مجتمعيّة تهدف إلى مساعدة كلّ مقبل على التعليم في مجتمعنا العربي

        على اختيار المجال والمكان الدراسي الأنسب لميوله وطموحه وقدراته وظروفه.

    </h3>

</header>

<hr />

<div *ngIf="volunteersCount" class="volunteers-count">
    <label> {{volunteersCount}} </label>
    <h2>متطوّع ومتطوّعة</h2>

    <h3>على أهبة الاستعداد لمساعدتك وتوجيهك</h3>


    <!-- <p>
        يساهمون معا في مساعدة كلّ مقبل ومقبلة على التعليم، وكلّ طالب جديد في مجتمعنا العربي على اختيار المجال والمكان
        الدراسيّ الأنسب
        لميولهم، طموحم، قدراتهم وظروفهم!
    </p> -->
</div>



<a routerLink="/volunteers" class="block large-btn" mat-raised-button color="primary">تصفّح المتطوّعين</a>


<hr />


<h3>
    يمكنك بسهولة الإنضمام إلى

    <strong>{{volunteersCount}}</strong>

    متطوّع ومتطوّعة في مجالات. فلعلّ دقيقة من وقتك تسدي بها نصيحة لمقبل على التعليم، تترك في مسيرته أثرا
    كبيرا، وتترك في صحيفة أعمالك خيرا
    كثيرا.

</h3>
<a class="block  large-btn" target="_blank"
    href="https://docs.google.com/forms/d/e/1FAIpQLScTF9AHiqFggAVP4kPz29nRpVNr5IP_XNmm8uMUlVxzaGe2qg/viewform"
    mat-raised-button color="accent">الانضمام كمتطوّع</a>

<span>

</span>