<mat-card *ngIf="volunteer">

    <section class="info">

        <img class="photo" *ngIf="volunteer.photoURL" src="{{volunteer.photoURL}}" />


        <label class="name">

            <span>
                {{volunteer.name.first}} {{volunteer.name.last}}
            </span>

        </label>

        <label>
            <i class="fa fa-university"></i>
            <span> {{volunteer.field}} </span> - <span>
                {{volunteer.institute}} </span>
        </label>

        <label>
            <i class="fa fa-map-marker"></i>
            <span> {{volunteer.town}} </span>
        </label>

    </section>

    <p *ngIf="volunteer.bio">{{volunteer.bio}}</p>



    <section id="contact" *ngIf=userService.canContact>


        <a *ngIf="volunteer.profileLink" mat-raised-button class="block action-btn" href="{{volunteer.profileLink}}"
            target="_blank">

            <i class="fa {{linkIcon}}"></i>

            رابط البروفيل
        </a>

        <button mat-raised-button class="block action-btn" color="primary" (click)="contact()" *ngIf="!showContactInfo">
            تواصل
        </button>

        <!-- <app-human-validation *ngIf="showValidation && !showContactInfo" [generate]="generateCode"
            (validate)="validateOperation($event)">
        </app-human-validation> -->

        <section *ngIf="showContactInfo" class="contact-section">

            <a *ngIf="volunteer.howToContact == VOLUNTEER_CONTACT_CHANNEL.WHATSAPP; else emailContact" mat-raised-button
                class="contact-btn block action-btn" color="primary" style="background-color: #25D366;"
                href="https://api.whatsapp.com/send/?phone=%2B972{{volunteer.phone}}&text={{msgText}}">

                <i class="fa fa-whatsapp"></i>
                رسالة وتسأب
            </a>

            <ng-template #emailContact>
                <a mat-raised-button class="contact-btn block action-btn" color="accent"
                    href="mailto:{{volunteer.email}}?subject=مجالات - مساعدة من فضلك&body={{msgText}}">
                    <mat-icon>email</mat-icon>
                    بريد الكتروني
                </a>
            </ng-template>









            <!-- <div fxFlex="75%">
                <a mat-raised-button class="contact-btn block" color="primary" style="background-color: #25D366;"
                    href="https://api.whatsapp.com/send/?phone=%2B972{{volunteer.phone}}&text">

                    <i class="fa fa-whatsapp"></i>
                    رسالة وتسأب

                </a>
            </div>

            <div fxFlex="23%">
                <a mat-raised-button class="contact-btn block" color="accent"
                    href="https://api.whatsapp.com/send/?phone=%2B972{{volunteer.phone}}&text">
                    <mat-icon>email</mat-icon>
                </a>
            </div> -->


        </section>




    </section>







    <!-- joined: Date;
    email: string;
    name: VolunteerName;
    gender: number;
    town: string;
    bio: string;
    phone: number;
    profileLink: string;
    institute: string;
    field: string;
    photoURL: string;
    graduationYear: number;
    isShow: boolean; -->


</mat-card>













<!-- 




<mat-card>

    <section class="info">


        <a href="{{volunteer.profileLink}}" target="_blank" class="name">

            <i class="fa {{linkIcon}}"></i>

            <span>
                {{volunteer.name.first}} {{volunteer.name.last}} <small style="color:gray">(<i
                        class="fa {{genderIcon}}"></i>)</small>
            </span>

        </a>


        <label>

            <i class="fa fa-map-marker"></i>
            <span> {{volunteer.town}} </span>
        </label>


        <label>
            <i class="fa fa-vcard"></i>
            <span> {{volunteer.field}} </span>
        </label>


        <label>
            <i class="fa fa-university"></i>
            <span>
                {{volunteer.institute}} </span>
        </label>



    </section>

    <div *ngIf="isExpanded">
        <p>{{volunteer.bio}}</p>


        <button mat-raised-button class="block" color="primary" (click)="showValidation = true;"
            *ngIf="!showValidation">
            <i class="fa fa-whatsapp"></i>
            تواصل
        </button>

        <app-human-validation *ngIf="showValidation && !showContactInfo" [generate]="generateCode"
            (validate)="validateOperation($event)">
        </app-human-validation>

        <section *ngIf="showContactInfo" class="contact-section" fxLayout="row wrap" fxLayoutGap="16px grid">

            <div fxFlex="75%">
                <a mat-raised-button class="contact-btn" color="primary"
                    href="https://api.whatsapp.com/send/?phone=%2B972{{volunteer.phone}}&text">
                    تواصل
                </a>
            </div>

            <div fxFlex="23%">
                <a mat-raised-button class="contact-btn" color="primary"
                    href="https://api.whatsapp.com/send/?phone=%2B972{{volunteer.phone}}&text">
                    <mat-icon>email</mat-icon>
                </a>
            </div>


        </section>


    </div>

    <mat-icon class="expand-toggle mat-elevation-z2" (click)="isExpanded = !isExpanded;">
        {{isExpanded? "expand_less" : "expand_more"}}
    </mat-icon>





</mat-card> -->