<div *ngIf="volunteer" [class.is-fullpage]="!isDialog">

    <section class="info">

        <img class="photo" *ngIf="volunteer.photoURL" src="{{volunteer.photoURL}}" />


        <h1 class="name">

            <span>
                {{volunteer.name.first}} {{volunteer.name.last}}
            </span>

        </h1>

        <label>
            <i class="fa fa-university"></i>
            <span> {{volunteer.field}} </span> - <span>
                {{volunteer.institute}} </span>
        </label>

        <label>
            <i class="fa fa-map-marker"></i>
            <span> {{volunteer.town}} </span>
        </label>

    </section>

    <p *ngIf="volunteer.bio">{{volunteer.bio}}</p>



    <section id="contact" *ngIf=userService.canContact>

        <!-- 
        <a *ngIf="volunteer.profileLink" mat-flat-button class="block action-btn" href="{{volunteer.profileLink}}"
            target="_blank" gaEvent="volunteer_external_profile">

            <i class="fa {{linkIcon}}"></i>

            رابط البروفيل
        </a> -->

        <section class="action-btns">

            <div style="width:20%">
                <a [disabled]="!volunteer.profileLink" mat-raised-button class="block action-btn"
                    href="{{volunteer.profileLink}}" target="_blank" gaEvent="volunteer_external_profile">

                    <i *ngIf="linkIcon" class="fa {{linkIcon}}"></i>

                    <i *ngIf="!linkIcon" class="fa fa-user"></i>

                    <!-- رابط البروفيل -->
                </a>
            </div>


            <div style="width:60%; padding: 0 8px;">
                <button gaEvent="volunteer_want_to_contact" mat-raised-button class="block action-btn" color="primary"
                    (click)="contact()" *ngIf="!showContactInfo">
                    أريد التواصل
                </button>

            </div>

            <div style="width:20%">
                <button (click)="toggleFavorite()" class="favorite-btn block action-btn" [class.toggled]="isFavorite"
                    mat-raised-button
                    [gaEvent]="isFavorite? 'volunteer_favorite_toggle_on': 'volunteer_favorite_toggle_off'">
                    <mat-icon>{{isFavorite? 'star' : 'star_outline'}}</mat-icon>
                </button>
            </div>

        </section>


    </section>







    <!-- joined: Date;
    email: string;
    name: VolunteerName;
    gender: number;
    town: string;
    bio: string;
    phone: number;
    profileLink: string;
    institute: string;
    field: string;
    photoURL: string;
    graduationYear: number;
    isShow: boolean; -->

</div>