@import "~src/app/_variables";

:host {
    display: block;
    padding: 16px;
}

#filters {
    .selected {
        background: $primary-color;
        color: white;
    }

    .filter-toggle {
        margin: 4px;
    }
}

.main-header {
    // background: #ffc107;
    // background: lighten($color: $primary-color, $amount: 10);
    // margin: -16px -16px 32px -16px;
    margin-bottom: 32px;
    padding: 16px;
    color: $primary-color;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.search {
    width: 80%;
    margin: auto;
    display: block !important;
    margin-bottom: 32px;
}

.search-count {
    display: block;
    margin: -10px auto 40px auto;
    text-align: center;
    color: gray;

    span {
        font-weight: bold;
    }
}
