@import "~src/app/_variables";

:host {
    display: block;
    // padding: 16px;
}



.main-header {
    // background: #ffc107;
    // background: lighten($color: $primary-color, $amount: 10);
    // margin: -16px -16px 32px -16px;
    margin-bottom: 32px;
    padding: 16px;
    color: $primary-color;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.search {
    width: 80%;
    margin: 32px auto;
    display: block !important;
}

.search-count {
    display: block;
    margin: -10px auto 40px auto;
    text-align: center;
    color: gray;

    span {
        font-weight: bold;
    }
}

#filter-btn{
    position: fixed;
    left: 32px;
    bottom: 32px;
}


#volunteers-list-container{
 padding: 16px;
}


.tip{
    mat-icon{
        transform: translate(0px, 5px);
    }

    width: 80%;
    margin: 16px auto;
    padding: 8px;
    
}