:host {
    display: block;
    padding: 32px;
    text-align: justify;
}

section {
    margin-top: 32px;

    > header {
        font-weight: bold;
    }
}

.links {
    li {
        margin-top: 8px;
    }
    a {
        text-decoration: underline;
    }
}
